*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(235, 235, 235);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container .loginForm{
  margin: 100px;
}

.container .loginForm form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: 150%;
  padding: 0 20px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.container .loginForm form h4{
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.container .loginForm form label{
  margin-bottom: 7px;
  font-weight: bold;
}

.container .loginForm form .textInput{
  height: 55px;
  width: 100%;
  border: 1px solid rgba(38, 255, 0, 0);
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 1rem;
  padding: 0 14px;
}

::placeholder {
  color: #77777788;
  font-size: 1.063rem;
}

.container .loginForm form .button{
  width: auto;
  color: white;
  background: #0000ff;
  padding: 8px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #0000ff;
  border-radius: 6px;
  outline: none;
}

.container .loginForm form .button:hover{
  background-color: #00006d;
}